.img {
    width: 100px;
}
.pageNumbers {
    width: 700px;
}
.pageAtive {
    color: red;
}
.containerFrends {
    display: flex;
}
.ava {
    flex: 0 1 20%;
    margin: 20px 0 0 20px;
}
.containerInfo {
    margin: 20px 20px;
    padding: 0 20px;
    flex: 0 1 80%;
    border: 1px solid #000000;
    border-radius: 5px;
}
.name {
    margin: 0 0 50px;
}
.status {
    color: red;

}
.location {
    margin-left: 0;
}

