.nav {
    grid-area: n;
    border-radius: 10px;
    background-color: #896E69;
}
.item {
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

.item a {
    text-decoration: none;
    color: #000000;
}

.item a.activeLink{
    color: gold;
}