.content{
    grid-area: c;
    background-color: aquamarine;
}
.content img {
    width: 100%;
}

.ava {
    width: 150px;
    height: 150px;
    margin: 50px;
    border: #000000 solid 2px;
}

.post {
    margin:0 0 50px 50px;
    font-size: 18px;
    color: midnightblue;
}